.gui-um{
    background-image: url(../img/guirlanda/guirlandas-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gui-dois{
    background-image: url(../img/guirlanda/guirlandas-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gui-tres{
    background-image: url(../img/guirlanda/guirlandas-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gui-quatro{
    background-image: url(../img/guirlanda/guirlandas-04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gui-cinco{
    background-image: url(../img/guirlanda/guirlandas-05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gui-seis{
    background-image: url(../img/guirlanda/guirlandas-06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.mdf-um{
    background-image: url(../img/mdf/mdf-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.mdf-dois{
    background-image: url(../img/mdf/mdf-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.mdf-tres{
    background-image: url(../img/mdf/mdf-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.mdf-quatro{
    background-image: url(../img/mdf/mdf-04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.mdf-cinco{
    background-image: url(../img/mdf/mdf-05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.mdf-seis{
    background-image: url(../img/mdf/mdf-06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.flamulas-um{
    background-image: url(../img/flamulas/flamula-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.flamulas-dois{
    background-image: url(../img/flamulas/flamula-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.flamulas-tres{
    background-image: url(../img/flamulas/flamula-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.flamulas-quatro{
    background-image: url(../img/flamulas/flamula-04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.flamulas-cinco{
    background-image: url(../img/flamulas/flamula-05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.flamulas-seis{
    background-image: url(../img/flamulas/flamula-06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.canecas-um{
    background-image: url(../img/canecas/caneca-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.canecas-dois{
    background-image: url(../img/canecas/caneca-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.canecas-tres{
    background-image: url(../img/canecas/caneca-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.canecas-quatro{
    background-image: url(../img/canecas/caneca-04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.canecas-cinco{
    background-image: url(../img/canecas/caneca-05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.canecas-seis{
    background-image: url(../img/canecas/caneca-06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}